<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Mars</title>
</head>
<body>
	
	<%=name%>
		<div id="target"></div>
		<script type="module" src="./utils/template.js"></script>
</body>
</html>
